@import url("https://fonts.googleapis.com/css2?family=Interwght@100;200;300;300;400;500;600;700;800;900&display=swap");

html {
    margin: 0;
    padding: 0;
    font-family:"Righteous", "Philosopher", "Sofia";
    background-color: #fbedffff;
    
    scroll-behavior: smooth;
    color: #674ea7, #ffffffff, #eeeeeeff, #000000ff, #b4a7d6ff
}

/* margin/padding: top right bottom left */

.container{
    padding: 0 20px;
    padding-right: 20px;
    margin: 0, auto;
    width: 70vw;
    }

/*Home page, about me*/
#home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    }

.salutations{
    display: flex;
    text-align: center;
    font-size: 50px;
    font-family: "Philosopher", Jovanny Lemonad;
    color: #674ea7;
    margin-bottom: 0px;
    } 
      
.home-title{
    text-align: center;
    margin-bottom: 0px;
    font-size: 70px;
    font-family: "Sofia", LatinoType;
    font-weight: bold;
    color: #000000ff;
    }
.description{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 25px;
    font-family: "Philosopher", Jovanny Lemonad;
    font-weight: 500x;
    color: #000000ff;
    }
.home-button{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: #fbedffff;
    color: #674ea7;
    border: none;
    margin: 10px 0;
    font-size: 50px;
    font-weight: 600;
    }

/*Home images*/
.fatima-1{
    display: flex;
    justify-self: center;
    align-items: center;

}
.fatima-2{
    display: flex;
    justify-self: center;
    align-items: center;
}

/*Navigation bar*/
.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #674ea7;
    border-radius: 10px;
    border-color: #eeeeeeff;
    }
.nav{
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;   
    }  
.nav-item {
    display: inline;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 50px;
    
    }

.nav-button{
    background-color: #eeeeeeff;
    color: #000000ff;
    border-radius: 10px;
    border-color: #000000ff;
    font-family: "Righteous", Astigmatic;
    font-size: 40px;
    font-weight:500px;
    cursor:pointer;
}
