@import url("https://fonts.googleapis.com/css2?family=Sofia|Philosopher|Righteous&display=swap");

html {
    margin: 0;
    padding: 0;
    font-family:"Righteous", "Philosopher", "Sofia";
    background-color: #fbedffff;
    scroll-behavior: smooth;
    color: #674ea7, #ffffffff, #eeeeeeff, #000000ff, #b4a7d6ff
}

@media screen and (max-width: 414px) {
    /* Adjust the size of the home-title and description */
    .home-title {
      font-size: 3.5em;
    }
    .description {
      font-size: 1.5em;
      margin-top: 0.5em;
    }
    
    /* Adjust the size of the contact-button */
    .contact-button {
      font-size: 0.8em;
    }
    
    /* Adjust the size and spacing of the images in the images-style div */
    .images-style {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .fatima-1 img,
    .fatima-2 img {
      width: 100%;
      margin-bottom: 1em;
    }
    
    /* Adjust the size and spacing of the nav buttons */
    .nav-button {
      font-size: 0.8em;
      padding: 0.5em;
    }
    .nav-item:not(:last-child) {
      margin-right: 1em;
    }
  }
/* margin/padding: top right bottom left */
.container{
    padding: 0 10px;
    padding-right: 10px;
    margin: 0, auto;
    width: 70vw;}

h1, h2, h3, h4, h5, h6{
    margin-top: 0;
      }

      
/*Home page, about me*/
#home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.salutations{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 50px;
    font-family: "Philosopher", Jovanny Lemonad;
    color: #674ea7;
    margin-bottom: 0.5em;
}     

.home-title{
    text-align: center;
    margin-bottom: 0px; 
    font-size: 70px;
    font-family: "Sofia", LatinoType;
    font-weight: bold;
    color: #000000ff;
}
.description{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 25px;
    font-family: "Philosopher", Jovanny Lemonad;
    font-weight: 500x;
    color: #000000ff;
}
.home-button{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: #fbedffff;
    color: #674ea7;
    border: none;
    margin: 10px 0;
    font-size: 50px;
    font-weight: 600x;
    cursor:pointer;
    text-decoration: none;
}

 /*Navigation bar*/
.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #674ea7;
    border-radius: 10px;
    border-color: #eeeeeeff;
    position: -webkit-sticky-bottom;
    margin-bottom: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.nav{
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}  
.nav-item {
    display: inline;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 50px;
}
.nav-button{
    background-color: #eeeeeeff;
    color: #000000ff;
    border-radius: 10px;
    border-color: #000000ff;
    font-family: "Righteous", Astigmatic;
    font-size: 40px;
    font-weight:500px;
    cursor:pointer;
}

/*About Page*/
#About{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.about-title{
    text-align: center;
    font-size: 35px;
    font-family: "Righteous", Astigmatic;
    font-weight: bold;
    color: #eeeeeeff;
    background-color:#674ea7;
    background-size: 40vh;
    width: 100vw;
    margin-bottom: 5px;
}
.about-info{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    font-family: "Philosopher", Jovanny Lemonad;
    font-weight: 300x;
    color: #000000ff;
}

.about-style{
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column;
}

/*About images*/
.images-style{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

}
.fatima-1{
    display: flex;
    flex-wrap:wrap;
    justify-self: center;
    align-items: left;

}
.fatima-2{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    align-items: right;
}

.contact-container{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 0;
    margin-top: 0;
}   

.contact-title{
    text-align: center;
    font-size: 35px;
    font-family: "Righteous", Astigmatic;
    font-weight: bold;
    color: #eeeeeeff;
    background-color:#674ea7;
    background-size: 40vh;
    width: 100vw;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    padding-top: 3px;
    padding-bottom: 3px;
}

.contacts{
    display: flex;
    justify-content: center;
    padding: 50px;
}

.contact-button{
    background-color: #b4a7d6ff;
    color: #674ea7;
    border-radius: 20px;
    border-color: #674ea7;
    font-family: "Righteous", Astigmatic;
    font-size: 30px;
    margin-right: 10px;
    cursor:pointer;}

/*Gallery Page*/
#Gallery{
    text-align: center;
    font-size: 35px;
    font-family: "Righteous", Astigmatic;
    font-weight: bold;
    color: #eeeeeeff;
    background-color:#674ea7;
    background-size: 40vh;
    width: 100vw;
    margin-top: 0px;
    margin-bottom: 3px;

}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     

#gallery h2 {
    margin-bottom: 0.5em;
}


.gallery-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.shad-video{
    padding-top: 0;
    margin-top: 0px;
    margin-bottom: 0px;
}

