@import url("https://fonts.googleapis.com/css2?family=Interwght@100;200;300;300;400;500;600;700;800;900&display=swap");

html {
    margin: 0;
    padding: 0;
    font-family:"Righteous", "Philosopher", "Sofia";
    background-color: #fbedffff;
    
    scroll-behavior: smooth;
    color: #674ea7, #ffffffff, #eeeeeeff, #000000ff, #b4a7d6ff
}

/* margin/padding: top right bottom left */

.container{
    padding: 0 20px;
    padding-right: 20px;
    margin: 0, auto;
    width: 70vw;
    }

/*Home page, about me*/
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    }

.salutations{
    font-size: 30px;
    font-family: "Philosopher";
    color: #674ea7
    }
.Im{
    font-size: 30px;
    font-family: "Philosopher";
    color: #000000ff
}
.home-title{
    font-size: 50px;
    font-family: "Sofia";
    font-weight: bold;
    color: #000000ff;
    }
.description{
    font-size: 25px;
    font-family: "Philosopher";
    color: #000000ff;
    }

/*Home images*/
.fatima-1{
    display: flex;
    justify-self: center;
    align-items: center;
}
.fatima-2{
    display: flex;
    justify-self: center;
    align-items: center;
}

/*Navigation bar*/
.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    }
.nav{
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;   
    }  
.nav-item {
    display: inline;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 30px;
    }
.nav-link {
    color: #eeeeeeff;
    text-decoration:#000000ff;
    font-size: 30px; 
    font-weight:500x;
    font-family: "Righteous";
    }
.nav-link:hover {
    color: gray;}
.nav-link:active {
    color: gray;}