@import url("https://fonts.googleapis.com/css2?family=Interwght@100;200;300;300;400;500;600;700;800;900&display=swap");

html {
    margin: 0;
    padding: 0;
    font-family:"Righteous", "Philosopher", "Sofia";
    background-color: #fbedffff;
    
    scroll-behavior: smooth;
    color: #674ea7, #ffffffff, #eeeeeeff, #000000ff, #b4a7d6ff
}

/* margin/padding: top right bottom left */

.container{
    padding: 0 20px;
    margin: 0, auto;
    width: 70vw;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav{
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    
}

.nav-item {
    display: inline;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 30px;

}